	<div class="my-3">
		<h3> Suggestion </h3>
		<p>Postion Wishes: {{ qualityPositions }}% fullfilled /
		Teambalance: {{ qualityRatings }}% </p>
	</div>
	{% for x in range(5) %}
	<div class="row">
		{% set leftP  = d["left"][positions[x]] %}
		{% set rightP = d["right"][positions[x]] %}
		<div class="col-sm">
			{{ positions[x] }}
		</div>
		<div class="col-sm" 
		    {% if reqJson.get(leftP) and reqJson.get(leftP)[x] | int >= 4 %}
		    style="background: red;"
		    {% endif %}>
		    {{ leftP }} ({{ ratings[x] }})
		</div>
		<div class="col-sm"
		    {% if reqJson.get(rightP) and reqJson.get(rightP)[x] | int >= 4 %}
		    style="background: red;"
		    {% endif %}>
		    {{ rightP }} ({{ ratings[x+5] }})
		</div>
	</div>
	{% endfor %}
	
	<div class="mt-3">
	<h3>For copying into Lobby:</h3>
	<div class="mt-2">
	<div class="row">
<textarea style="padding-left: 10px !important; padding-top: 10px !important" rows="16" cols= 100>
Left Side Team	
{% for x in range(5) %}
{% set leftP  = d["left"][positions[x]] %}{{ leftP }} left team {{ positions[x] }}{% endfor %}

Right Side Team
{% for x in range(5) %}
{% set rightP = d["right"][positions[x]] %}{{ rightP }} right team {{ positions[x] }}{% endfor %}
</textarea>
	</div>
