<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leaderboard</title>
        <meta name="Description" content="Open Web Leaderboard">
        <link rel="shortcut icon" href="/static/defaultFavicon.ico">
        <script src="static/buttons.js" defer></script>

        <!-- needed for @media-css mofiers -->
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <link rel="stylesheet" href="/static/bootstrap/fontawesome.css">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/site.css">

        <script src="/static/bootstrap/js/jquery.js"></script>
        <script src="/static/bootstrap/js/popper.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
        <script src="/static/bootstrap/js/mdb.min.js"></script>

    </head>
    <body>
        {% include 'navbar_leaderboard.html' %}
        <div class="container mt-3 mb-3" role="main">
            <div class=colum-names>{{ columNames }}</div>
            {% for player in playerList %}
                {% set count = loop.index + start %}
                {% if count % 2 == 0 %}
                <div class="line-even {% if searchName == player.name %}targetPlayer{% endif %}">
                    <a href="/player?id={{ player.playerId }}">
                    {{ player.getLineHTML(count) }}
                    </a>
                </div>
                {% else %}
                <div class="line-odd {% if searchName == player.name %}targetPlayer{% endif %}">
                    <a href="/player?id={{ player.playerId }}">
                    {{ player.getLineHTML(count) }}
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            {{ endOfBoardIndicator }}
        </div>
    {% include 'footer.html' %}
    </body>
</html>
