<html>
    <head>
        <link rel="stylesheet" type="text/css" href="site.css">
    </head>
    <body>
        <div class=top-bar>
            <div class=top-button>Forward</div>
            <div class=top-button>Backward</div>
            <div class=top-button>Top 100</div>
            <input class=input-field>
            <input class=input-field>
        </div>
        <div class=leaderboard-container>
            <div class=colum-names>{{ columNames  }}</div>                    
            {% set count = 1 %}
            {% for player in playerList %}    
                {% if count % 2 == 0 %}
                    <div class=line-even>{{ player.getLineHTML() }}</div>
                {% else %}
                    <div class=line-odd>{{ player.getLineHTML() }}</div>
                {% endif %}
                <option value="">{{country}}</option>
                {% set count = count + 1 %}
            {% endfor %}
        </div>
        <div class=footer>
        	<a class="footerLink" href="https://blog.atlantishq.de/about">Impressum/Legal</a>
        	<a class="footerLink mid" href="https://github.com/FAUSheppy/">Other Projects</a>
        	<a class="footerLink" href="https://github.com/FAUSheppy/skillbird">Star on GitHub</a>
        </div> 
    </body>
</html>
