<div class="footer-copyright text-center py-3 bg-dark" role="contentinfo">
	<a style="color: rgba(255,255,255,.5);" 
            class="footerLink" href="https://blog.atlantishq.de/about">Impressum/Legal</a>
	<a style="color: rgba(255,255,255,.5);"
            class="footerLink mid" href="https://blog.atlantishq.de/post/insurgency-rating-1/">
            How does it work?</a>
	<a style="color: rgba(255,255,255,.5);"
            class="footerLink" href="https://github.com/FAUSheppy/skillbird">Star on GitHub</a>
</div> 
