<div class="footer-copyright text-center py-3 bg-dark" role="contentinfo">
	<a style="color: rgba(255,255,255,.5);" 
            class="footerLink" href="https://blog.atlantishq.de/about">Impressum/Legal</a>
	<a style="color: rgba(255,255,255,.5);"
            class="footerLink mid" href="steam://connect/athq.de/:27026">
            Join the Server!</a>
	<a style="color: rgba(255,255,255,.5);"
            class="footerLink" href="https://github.com/FAUSheppy/skillbird">Star on GitHub</a>
</div> 
