<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <!-- left side -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rounds">Rounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maps">Maps</a>
        </li>
      </ul>
      <ul class="navbar-nav right">
        <li class="nav-item">
          <a class="nav-link" href="steam://connect/athq.de/:27026">Server 1</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="steam://connect/athq.de/:27015">Server 2</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand hover-to-75 patreon" style="position: unset !important;" href="https://www.patreon.com/erlangen_sheppy">Support me
	            <!--<img style="max-height: 1.5rem;" src='/static/patreon.jpg'></img>-->
	        </a>
	    </li>
      </ul>
    </div>
</nav>
<nav class="navbar" style="visibility: hidden;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">placeholder</a>
        </li>
      </ul>
</nav>

